<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342440660550-g32i5kp5nges9r8lpub8d8f3nsf3m46n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342440660550-g32i5kp5nges9r8lpub8d8f3nsf3m46n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342440660550-56t5op4pg77e5118ooq4jh311j2hepee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFQE9FMd0AnrYsUuopJXmyjmEPQSsz6IA</string>
	<key>GCM_SENDER_ID</key>
	<string>342440660550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fProject</string>
	<key>PROJECT_ID</key>
	<string>testproject-71f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-71f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342440660550:ios:e0c28a98264a1ce5cfc447</string>
</dict>
</plist>